/* styles.css */
body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #282c34;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
.h1{
    margin-bottom: 20px;
    text-align: center;
}


.calculator {
    background: #444;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.display {
    background: #222;
    padding: 20px;
    text-align: right;
    font-size: 2em;
    border-bottom: 1px solid #555;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    background: #333;
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
}

button:active {
    background: #555;
    transform: scale(0.95);
}

.btn.operator {
    background: #f60;
}

.btn.special {
    background: #f90;
}

.btn.number {
    background: #333;
}

.btn.special:hover {
    background: #e78;
}

.btn.operator:hover {
    background: #d54;
}

.btn.number:hover {
    background: #444;
}
